body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    position: absolute;
    top: calc(50vh - 250px); /* Halfway between the top of the grey text background square and the top of the screen */
    left: 0;
    right: 0;
}

.container {
    position: absolute;
    top: calc(50vh - 100px); /* 200 pixels up and down */
    left: calc(50vw - 100px); /* Center horizontally */
    width: 200px; /* Make it a perfect square */
    height: 200px; /* Make it a perfect square */
    background-color: #3a3b3c;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textbox input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(100% - 22px); /* Adjust width to fit evenly within the grey background */
    margin-bottom: 10px;
    box-sizing: border-box; /* Include padding and border in the width calculation */
}


.submit-button {
    text-align: center;
    margin-top: auto; /* Push the submit button to halfway between the bottom of the grey text background and the bottom of the screen */
}

.submit-button button {
    padding: 10px 20px;
    background-color: #3a3b3c; /* Set button background color to match text background */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
